<!--    //footer-->
<footer class="footer">
  <div class="footer-img">
    <img src="/assets/imgs/logo.svg">
  </div>
  <hr>
  <div class="footer-social">
    <div class="footer-img">
      <img src="/assets/imgs/facebook-f.svg">
      <img src="/assets/imgs/twitter.svg">
      <img src="/assets/imgs/slack-hash.svg">
    </div>
    <div class="footer-terminos">
      <ul>
        <li>Aviso de privacidad</li>
        <li>Soporte</li>
        <li>Términos y condiciones</li>
      </ul>
    </div>
  </div>
</footer>

<!--     //modal -->
<div id="modal">
  <form>
    <div class="cerrar-modal">
      <img src="/assets/imgs/times.svg" id="cerrar-modal-img">
    </div>
    <h2>Quiero ser Cuboxer</h2>
    <span>Llena el siguiente formulario y en breve un agente se pondrá en contacto.</span>
    <input name="Email" type="email" placeholder="Email">
    <input name="Nombre" type="text" placeholder="Nombre"> 
    <input name="Telefono" type="tel" placeholder="Teléfono">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
</div>
</body>
</html>