<!--      //nav section-->
<div class="container">
  <nav class="navigation">
    <div class="imgs">
      <img src="/assets/imgs/logo.svg">
    </div>    
    <ul>
      <li>Caracteristicas</li>
      <li>Precios</li>
      <li>Soporte</li>
      <li class="btn-primary" id="qsc">Quiero ser Cuboxer</li>
    </ul>
  </nav>


  <!--      //nav section-->