<% include partials/head.ejs%>
<% include partials/header.ejs%>



  <!--      //Suscripciones-->
  <section class="suscripciones">
    <div class="suscripciones-texto">
      <h1>Todas tus suscripciones en una sola caja</h1>
      <p>Administra todas tus suscripciones desde un solo lugar y paga solo un envío por todas.</p>
      <button class="btn" id="qsm">Quiero saber más</button>
    </div>

    <div>
      <img src="/assets/imgs/image.svg">
    </div>
  </section>

  <section class="suscripciones">
    <div>
      <div>
        <img src="/assets/imgs/icon-time.svg">
      </div>
      <span>
        <strong>Ahorra Tiempo</strong> al gestionar todas tus suscripciones en un solo lugar. Deja que el menu simplificado de Cuboxes haga el trabajo duro por ti.
      </span>
    </div>
    <div>
      <div>
        <img src="/assets/imgs/icon-billing.svg">
      </div>
      <span>
        <strong>Un solo</strong> cargo al pagar en Cuboxes todas tus suscripciones se aplican en un solo cargo, no mas suscripciones duplicadas ni olvidadas.
      </span>
    </div>
    <div>
      <div>
        <img src="/assets/imgs/icon-shipping.svg">
      </div>
      <span>
        <strong>Paga un</strong> solo envío al hacer tus suscripciones con Cuboxes, puedes hacer que todas te lleguen al mismo tiempo, evitando pagar envíos adicionales.
      </span>
    </div>
  </section>
  <section>
    <button class="btn btn-primary" id="qap">Quiero aplicar para ser un Cuboxer</button>
  </section>

  <!--      //Suscripciones-->

  <!--    //Invierte tu tiempo-->

  <section class="suscripciones">
    <div>
      <img src="/assets/imgs/image1.svg">
    </div>
    <div class="suscripciones-tiempo">
      <h1>Invierte tu tiempo en cosas más importantes</h1>
      <p>Cuboxes agiliza la administración de tus recurrencias, haciendote una sola factura y un solo envío para que no tengas que preocuparte por nada mas.</p>
      <button class="btn" id="qs">Quiero ser Cuboxer</button>
    </div>
  </section>

  <!--    //Invierte tu tiempo-->


<% include partials/footer.ejs%>


